.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  min-width: 275px;
  height: calc(100vh - 80px);
  background-color: var(--sidebarClr);
  padding-top: 40px;
  padding-left: 20px;
  border-right: 1px solid var(--border);
}

.sidebarbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
  margin-left: -5px;
  margin-bottom: 10px;
  color: var(--text-dark);
  text-decoration: none;
  padding: 15px;
  transition: all 0.2s ease;
}

.sidebarbtn:hover {
  padding-left: 0px;
  color: var(--text-dark);
  padding-left: 20px;
  text-decoration: none;
}

.sidebarbtnwrapper {
  justify-content: space-between;
  display: flex;
  width: 70%;
  flex-direction: row;
  text-decoration: none;
}

.sidebartxt {
  padding-right: 28px;
}